
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
*.suo
*.opensdf
*.log
*.tlog
*.sdf
*.user
*.sln
*.pro
*.pri
*.project
*.files
*.includes
*.creator
*.config
*.workspace
*pre1
*.autosave

*.make
*Makefile
16SS/SVM16SS
16SS/obj

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
